.advantages {
	&__list {
		background-color: #fef7f0;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 33%;
		padding: 35px 0;
		border-right: 1px solid #e8e4df;

		&:last-child {
			border-right: none;
		}
	}

	&__box {
		width: 360px;
		margin-left: auto;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 55px;
			height: 55px;
			top: 15px;
			left: -80px;
			background-repeat: no-repeat;
		}

		&--support::before {
			background-image: url(../../images/info/support.png);
		}

		&--delivery::before {
			background-image: url(../../images/info/delivery.png);
		}

		&--wallet::before {
			background-image: url(../../images/info/wallet.png);
		}
	}

	&__title {
		justify-content: start;
		font-size: 18px;
		line-height: 2.2;
	}

	&__text {
		max-width: 220px;
	}
}
