.slider-top {
	&__item {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 640px;
			height: 254px;
			top: 36%;
			right: 17%;
			background-image: url(../../images/slider/furniture.png);
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	&__content {
		height: calc(100vh - 145px);
		max-width: 430px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-family: "Rubik";
		font-weight: 500;
		font-size: 72px;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 18px;
		line-height: 1.7;
		color: #436372;
		margin-bottom: 30px;
		max-width: 385px;

		& p {
			margin: 0;
			-webkit-line-clamp: 3;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
	}

	@import "components/button";

	&__btn {
		padding: 18px 100px 18px 25px;
		position: relative;
		max-width: 200px;

		&::before {
			content: "";
			position: absolute;
			width: 22px;
			height: 59px;
			background-image: url(../../images/slider/arrow-right.svg);
			background-repeat: no-repeat;
			top: 45%;
			right: 20px;
		}
	}
}

.slick-dots {
	position: absolute;
	display: flex;
	bottom: 45px;
	left: 50%;
	transform: translateX(-50%);

	& li {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	& button {
		border: none;
		background-color: #fff;
		font-size: 11px;
		line-height: 0.8;
		opacity: 0.5;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		transition: opacity 0.7s;
	}
}

.slick-active button {
	opacity: 1;
}
