html,
body {
	height: 100%;
}

body {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	color: $default-color;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;

	&--small {
		max-width: 1200px;
	}
}

main {
	flex-grow: 1;
}

.logo__img {
	width: 146px;
	height: 39px;
	object-fit: cover;
}

.title {
	font-family: "DMSans";
	font-weight: 700;
	font-size: 36px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
