.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 0 50px;
	}
}

.menu {
	&__list {
		display: flex;
	}

	&__item {
		margin-right: 35px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-family: "Rubik";
		font-weight: 500;
		color: #436372;
		font-size: 15px;
		line-height: 1;
		border-bottom: 1px solid transparent;
		transition: border-color 0.7s, padding-bottom 0.7s, color 0.7s;
		position: relative;

		&:hover {
			border-color: #436372;
			padding-bottom: 5px;
			color: #1a1a1a;
		}
	}
}

.logo--margin {
	margin-right: 150px;
}

.user-nav {
	display: flex;
	justify-content: space-between;

	&__buy {
		display: flex;
		justify-content: space-between;
		background-color: $accent-color;
		width: 180px;
		max-width: 100%;
		border-radius: 25px;
		margin-right: 20px;
		position: relative;
	}

	&--search {
		background-color: #edf1f4;
		margin-right: 20px;

		&:hover {
			background-color: #a3bbc8;
		}
	}

	&__btn {
		background-color: transparent;
		position: relative;

		&--hearth {
			margin-left: 25px;
		}

		&--basket {
			margin-right: 25px;
		}
	}

	&__user-menu {
		background-color: #edf1f4;

		&:hover {
			background-color: #a3bbc8;
		}
	}

	&__num {
		position: absolute;
		top: 8px;
		left: 54px;
		background-color: #fff;
		padding: 0 5px;
		border-radius: 9px;
		font-size: 10px;
		line-height: 1.8;

		&--right {
			left: 133px;
		}
	}
}
