.new-card {
	width: 370px;
	max-width: 100%;
	padding: 45px 0 130px 35px;
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #f8f8f8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: relative;

	&__title {
		max-width: 200px;
		font-size: 20px;
		line-height: 1.2;
		color: #191919;
		margin-bottom: 10px;
	}

	&__text {
		font-family: "DMSans";
		font-weight: 700;
		color: $link-color;
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;
	}
}
