.product-card {
	width: 270px;
	max-width: 100%;
	box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	border-radius: 10px;
	padding-bottom: 35px;
	transition: box-shadow 0.7s;

	&:hover .product-card__nav {
		opacity: 1;
	}

	&:hover {
		box-shadow: 0px 5px 30px 3px rgba(37, 37, 37, 0.09);
	}

	&__box {
		height: 240px;
		margin-bottom: 40px;
	}

	&__img {
		display: inline-block;
		bottom: 0;
		position: relative;
		top: 40px;
		max-width: 208px;
		max-height: 236px;
	}

	&__nav {
		opacity: 0;
		display: flex;
		justify-content: center;
		position: relative;
		transition: opacity 0.7s;
	}

	&__item {
		margin-right: 14px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		position: relative;
		padding: 20px 20px;
		border: none;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

		&::before {
			content: "";
			position: absolute;
			width: 22px;
			height: 20px;
			top: 25%;
			left: 25%;
		}
	}

	&__name {
		font-family: "DMSans";
		font-weight: 500;
		font-size: 16px;
		line-height: 2.5;
		color: $default-color;
		display: block;
	}

	&__num {
		font-family: "DMSans";
		font-weight: 700;
		color: #a3bbc8;
	}
}
